<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Change Password</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate>

        <div class="form-group has-feedback" ng-class="vm.validationClass(form.oldPassword.$error)">
          <label>Old Password</label>
          <input type="password" required name="oldPassword" class="form-control" ng-model="vm.user.oldPassword">
          <div ng-messages="form.oldPassword.$error">
            <div ng-message="required" class="control-label">This is required.</div>
            <div ng-message="mongoose" class="control-label">Incorrect Old Password</div>
          </div>
        </div>

        <div class="form-group" ng-class="vm.validationClass(form.newPassword.$error)">
          <label>Password</label>
          <input type="password" required name="newPassword" class="form-control" ng-model="vm.user.newPassword">
          <div ng-messages="form.newPassword.$error">
            <div ng-message="required" class="control-label">This is required.</div>
          </div>
        </div>

        <div class="alert alert-danger animate-validation-error" ng-if="!!vm.errors.other" role="alert"> <strong>{{ vm.errors.other }}</strong> </div>
        <div class="alert alert-success animate-validation-error" ng-if="!!vm.message" role="alert"> <strong>{{ vm.message }}</strong> </div>

        <div>
          <button class="btn btn-primary btn-lg btn-login" type="submit">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>
