<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Login</h1>
      <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@test.com</code> / <code>test</code></p>
      <p>Admin account is <code>admin@admin.com</code> / <code>admin</code></p>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

        <div class="form-group has-feedback" ng-class="vm.validationClass(form.email.$error)">
          <label>Email</label>
          <input type="email" required name="email" class="form-control" ng-model="vm.user.email">
          <div ng-messages="form.email.$error">
            <div ng-message="required" class="control-label">This is required.</div>
            <div ng-message="email" class="control-label">This needs to be a valid email</div>
          </div>
        </div>

        <div class="form-group" ng-class="vm.validationClass(form.password.$error)">
          <label>Password</label>
          <input type="password" required name="password" class="form-control" ng-model="vm.user.password">
          <div ng-messages="form.password.$error">
            <div ng-message="required" class="control-label">This is required.</div>
          </div>
        </div>

        <div class="alert alert-danger animate-validation-error" ng-if="!!vm.errors.other" role="alert"> <strong>{{ vm.errors.other }}</strong> </div>

        <div>
          <button class="btn btn-primary btn-lg btn-login" type="submit">
            Login
          </button>
          <a class="btn btn-info btn-lg btn-register" href="/signup">
            Register
          </a>
        </div>
        <hr>
        <div>
          <a class="btn btn-facebook col-xs-12 col-md-4" href="" ng-click="loginOauth('facebook')">
            <i class="fa fa-facebook"></i> Connect with Facebook
          </a>
          <a class="btn btn-google-plus col-xs-12 col-md-4" href="" ng-click="loginOauth('google')">
            <i class="fa fa-google-plus"></i> Connect with Google+
          </a>
          <a class="btn btn-twitter col-xs-12 col-md-4" href="" ng-click="loginOauth('twitter')">
            <i class="fa fa-twitter"></i> Connect with Twitter
          </a>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>
