.banner {
  border-bottom: none;
  margin-top: -20px;
  position: relative;
  padding-top: 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.btn-product {
  width: 100%;
}

.product-container{
  -webkit-box-shadow: 4px 5px 5px 1px rgba(0,0,0,0.50);
  -moz-box-shadow: 4px 5px 5px 1px rgba(0,0,0,0.50);
  box-shadow: 4px 5px 5px 1px rgba(0,0,0,0.50);
  width: 100%;
  margin-bottom: 40px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  &:hover .product-image{
    margin-left: 600px;
  }
  &:hover .product-quickview{
    margin-left: 0;
  }

  div.product-heading{
    height: 50px;
    padding-left: 10px;
    &:after{
      background: rgb(70, 206, 219);
      position: absolute;
      content: "";
      height: 2px;
      width: 40px;
      display: block;
    }
  }
  .product-description{
    height: 200px;
    overflow: hidden;
    p{
      text-align: center;
    }
  }
  .product-image{
    width: 100%;
    height: 210px;
    position: absolute;
    top: 60px;
    margin-left: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .product-quickview{
    position: absolute;
    top: 60px;
    height: 210px;
    left: 0;
    width: 8rem;
    opacity: 0.7;
    margin-left: -100px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    i{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}
